h1{
    color: black;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(18, 96, 8); 
}


.kleur1{
    display: flex;
    justify-content: left;
    background-color: rgb(63, 138, 2);
}

ul{
    list-style-type: none;
}

li{
    display: inline; 
}


a:link, a:visited {
    background-color: rgb(59, 112, 10);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .ict{
    display: flex;
    float: right;
  }

  p{
    font-size: 35px;
  }

  .canvasimg{
    display: flex;
    float: right;
  }

  .eduarte{
    display: flex;
    float: right;
  }

  .examen{
    display:flex;
    float: right;
  }

  .studie-advies{
    display: flex;
    float: right;
  }

  .begeleiding{
    display: flex;
    float: right;
  }

  .opleiding{
    display: flex;
    float: right;
  }

  .visual-studio-code-logo{
    display: flex;
    float: right;
  }

  .github{
    display: flex;
    float: right;
  }

  .locatie{
    display: flex;
    float: right;
  }

